[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Scott Yang
	email = scott.yang@shopify.com
[core]
	editor = code -w
	excludesfile = /Users/scottyang/.gitignore_global
[init]
	defaultBranch = main
[alias]
    st = status
    co = checkout
    pf = push --force-with-lease
    br = branch
    rb = rebase
    lol = log --oneline
    cmtm = commit -m
[include]
	path = /Users/scottyang/.config/dev/gitconfig
[credential]
	helper =
	helper = store --file /opt/dev/var/private/git_credential_store
